<%- include("header.ejs") %>
<div class="disclaimer card">
    <h2>Disclaimer</h2>
    <p>
        The content on this website is provided for informational purposes only. While we strive to ensure accuracy, we make no warranties or guarantees regarding the completeness, reliability, or availability of the information displayed, including movie details, release dates, or streaming platforms. We are not responsible for any errors or omissions, or for any actions taken based on the information provided. External links are included for convenience, but we do not endorse or assume responsibility for the content of linked sites. Use of the site and its content is at your own risk.
    </p>
</div></div>
<%- include("footer.ejs") %>