<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Nova+Cut&family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/lang-styles.css">
</head>

<body>
    <header>
        <h1 id="heading"><a href="/"><b>IhaLokam</b></a></h1>
    </header>
    <nav>
        <ul>
            <li class="nav-ele"><a href="/mal"><b>Malayalam</b></a></li>
            <li class="nav-ele"><a href="/tel"><b>Telugu</b></a></li>
            <li class="nav-ele"><a href="tam"><b>Tamil</b></a></li>
            <li class="nav-ele"><a href="/kann"><b>Kannada</b></a></li>
            <li class="nav-ele"><a href="/hin"><b>Hindi</b></a></li>
            <li class="nav-ele"><a href="/eng"><b>English</b></a></li>
            <li>
                <select id="myDropdown">
                    <option value="" disabled selected>see more...</option>
                    <option value="/page1">German</option>
                    <option value="/page2">Chinese</option>
                    <option value="/page3">Korean</option>
                    <option value="/page3">American</option>
                    <option value="/page3">Japanese</option>
                </select>
            </li>
        </ul>
    </nav>
</body>

</html>