<%- include("partials/header.ejs") %>

<div class="home-container" style="padding: 10px;">
    <div style="display: flex; justify-content: space-between; gap: 10px;">
        <div style="flex: 1; text-align: center; border: 1px solid black;">
            <h2>IhaLokam</h2>
            <div>
                <p>1. Empuraan</p>
                <img class="movie-poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/dfaZipN3Aw5BK85nEvfr2FNg4EW.jpg" alt="Image 1A" style="width: 100%; "loading="lazy">
            </div>
            <div>
                <p>2. Veera Dheera Sooran</p>
                <img class="movie-poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6iiWsXJ31BVbypWwzvoPKx24NFQ.jpg" loading="lazy" alt="Image 1B" style="width: 100%;">
               
            </div>
            <div>
                <p>3. Officer on Duty</p>
                <img class="movie-poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ucwirgaK4v9ylQyDkwoXJtDIlf7.jpg" loading="lazy" alt="Image 1C" style="width: 100%;">
              
            </div>
        </div>
        <div style="flex: 1; text-align: center; border: 1px solid black;">
            <h2>Latest Anime</h2>
            <div>
            <p>1. Oshi no Ko Season 2</p>
            <img class="movie-poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/okbW9NdKRNKgIUTVA8YZAUGwIUx.jpg" loading="lazy" alt="Image 2A" style="width: 100%;">
            </div>
            <div>
            <p>2. Tower of God Season 2</p>
            <img class="movie-poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/8v8ANBJNUzvA8F6sM20DBt3zZ44.jpg" loading="lazy" alt="Image 2B" style="width: 100%;">
            </div>
            <div>
            <p>3. Suicide Squad ISEKAI</p>
            <img class="movie-poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/AbVwsBJnLoqJzPJn8dlGFSGfygy.jpg" loading="lazy" alt="Image 2C" style="width: 100%;">
            </div>
        </div>
        <div style="flex: 1; text-align: center; border: 1px solid black;">
            <h2>
                Latest Webseries
            </h2>
            <div>
                <p>1. The Boys Season 4</p>
                <img class="movie-poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/2zmTngn1tYC1AvfnrFLhxeD82hz.jpg" loading="lazy" alt="Image 3A" style="width: 100%;">
               
            </div>
            <div>
                <p>2. House of the Dragon Season 2 </p>
                <img class="movie-poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/oxmdHR5Ka28HAJuMmS2hk5K6QQY.jpg" loading="lazy" alt="Image 3B" style="width: 100%;">
               
            </div>
            <div>
                <p>3. Bridgerton Season 3 – Part 2</p>
                <img class="movie-poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/v2TL9tcfsFsFY1wM8rhwiQwo01t.jpg" loading="lazy" alt="Image 3C" style="width: 100%;">
               
            </div>
        </div>
    </div>
</div>

<hr>

<%- include("partials/footer.ejs") %>